@media only screen and (max-width : 375px) {
    *{
        font-size: 15px;
    }

    p{
        font-size: 9px;
    }

    .board img{
        padding: 20px;
    }

    .rate{
        gap: 10px;
    }

    .star{
        padding: 20px;
    }

    .thanks img{
        width: 100px;
    }
}